/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

/* UTILITIES */

header > img {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 80px;
}

header li {
    display: inline-block;
    font-size: 1.0rem;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #878787;
}