/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

/* UTILITIES */

header > img {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 80px;
}

header li {
    display: inline-block;
    font-size: 1.0rem;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #878787;
}

#spotlight {
    margin-top: 40px;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.spot-description {
    color: white;
    position: absolute;
    bottom: 80px;
    left: 40px;
    width: 50%;
    margin: 30px;
}

.spot-description > h1 {
    font-weight: 100;
    line-height: 30px;
}

#skills > .skills-title {
    margin: 50px 0;
}

.subtitle {
    font-weight: 100;
    font-size: 16px;
}

#skills h2 {
    font-size: 30px;
}

#grid {
    height: 1000px;
}

.col-center {
    width: calc(50% - 20px);
    margin: 0 20px;
}
.col-side {
    width: 25%;
    height: 800px;
    float: left;
}

.col .first {
    background-image: url(../img/img-1.jpg);
}

.col .center {
    background-image: url(../img/banner-2.jpg);
}

.col .last {
    background-image: url(../img/img-3.jpg);
}

.col .image {
    background-position: cover;
    height: 300px;
    background-repeat: no-repeat;
}