* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}